
header{
  background-color: rgb(12, 35, 59);
  height: 105px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.left-section{
  flex:1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;

}

.logo{
  height: 30px;
  width:100%;
  object-fit: contain;
  margin: 150px;
}

.mid-section{
  height: 100%;
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 450px; /*  Min width for when page is made smaller*/
}

.mid-section > div{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  height: 60%;
  color:#E9ECEF;
  font-family: manrope;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.15s;
}

.mid-section > div:hover{

  background-color: #E9ECEF;
  color: #212529;
}

.right-section{
  height: 100%;
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-image{
  height: 30px;
  margin-left: 340px;
}

.cart-image:hover{
  opacity: 0.75;
  cursor: pointer;
}

body{
  margin: 0;
  background-color:rgb(242,242,242);
}

.go-back-container{
  font-family: manrope, arial;
  color: rgb(139, 141, 143);
  font-weight: medium;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 50px;
  margin-left: 122px;
}

.go-back-button{
  display:inline-block
}

.go-back-button:hover{
  cursor:pointer;
  color:darkgray;
}

*{
  box-sizing: border-box;
}


.main-content {
display: flex;
justify-content: center;
align-items: flex-start;
padding-top: 16px;
padding-bottom: 16px;
}

.checkout-container{  
background-color: #ffffff;
flex:2;
margin-left:60px;
flex: 2;   
padding: 32px;
border-radius: 8px;
margin-right: 16px;
}

.checkout-and-summary {
display: flex;
justify-content: center; 
align-items: flex-start; 
gap: 2rem; 
margin-left: auto; 
margin-right: auto; 
padding-left: 60px; 
padding-right: 60px;
}

h2 {
font-family: manrope, arial;
font-size: 40px;
font-weight: bold;
padding-bottom: 32px;
color: rgb(12, 35, 59);
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="phone-number"],
input[type="address"],
input[type="zip-code"],
input[type="city"],
input[type="country"],
input[type="e-Money Number"],
input[type="e-Money PIN"],
input[type="cardNumber"],
input[type="expiryDate"],
input[type="cvv"] {
width: 100%;
padding: 10px;
margin-bottom: 8px;
margin-top:18px; 
border: 1px solid #ccc;
border-radius: 4px;
}

.billing-details, 
.payment-details, 
.shipping-info{
margin-bottom: 24px;
}

h4{
font-family: manrope, arial;
margin-bottom: 40px;
font-size:18px;
color: rgb(255, 153, 0);
font-weight: bold;
}

.input-group{
display: grid;
grid-template-columns: repeat(2, 50%);
gap: 16px;
margin-bottom: 30px;
margin-left:25px;
margin-right:25px;
}

.input-group.full-width {
grid-template-columns: 1fr;
}

.input-wrapper input,
.input-group.full-width input,
.payment-detail input{
height: 50px;
font-family: manrope;
font-size: 15px;
padding-left:15px;
}
.input-wrapper {
display: flex;
flex-direction: column;
}

.input-wrapper label,
.card-number-span,
.expiry-date-span,
.cvv-span,
.eMoney-number-span,
.eMoney-pin-span{
color: rgb(12, 35, 59);
font-family:manrope;
font-weight:bold;
}


.eMoney-span,
.cashOnDelivery-span,
.creditCard-span{
color: rgb(12, 35, 59);
font-family:manrope;
font-weight:bold;
cursor: pointer;
}

.input-group.full-width label {
color: rgb(12, 35, 59);
font-family:manrope;
font-weight:bold;
margin-bottom: -16px;
}
.input-wrapper input {
margin-bottom: 16px; 
border: 1px solid #ccc;
border-radius: 4px;
}
.payment-details-content {
display: flex;
justify-content: space-between;
}

.payment-inputs {
flex: 1; 
margin-right: 20px;
}

.payment-detail {
display: none; 
}

.card-money {
margin-bottom: 10px;
}
.payment-options {
flex: 1;
padding-top: 40px;
}

.payment-options label {
display: block;
margin-bottom: 1rem;
}

#eMoneyDetails {
display: block;
}

.payment-details input[type="text"] {
width: 100%;
padding: 10px;
margin-bottom: 1rem;
border: 1px solid #ccc;
border-radius: 4px;
}

.payment-details input[type="radio"] {
margin-right: 0.5rem;
}

/* Custom radio button styling */
.radio-wrapper {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
user-select: none;
border:1px;
}

/* Hide the browser's default radio button */
.radio-wrapper input {
position: absolute;
opacity: 0;
height: 0;
width: 0;
}

/* Create a custom outer circle */
.radio-wrapper .checkmark {
position: absolute;
top: 0;
left: 0;
height: 16px;
width: 16px;
background-color: white;
border-radius: 50%;
cursor: pointer;
border: 1px solid hsl(0,0%,50.2%); /* Black border */
}

/* On mouse-over, add a yellow border color */
.radio-wrapper:hover .checkmark {
border-color: #c0a300;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-wrapper .checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show and Style the indicator (dot/circle) */
.radio-wrapper input:checked + .checkmark:after {
display: block;
top: 3.2px;
left: 2.5px;
width: 9px;
height: 9px;
border-radius: 50%;
background: rgb(255, 153, 0);
cursor: pointer;
}

/* Style the radio button label */
.radio-wrapper label {
margin-left: 8px;
}

/* Style the radio button label when input is checked */
.radio-wrapper label {
color: rgb(255, 153, 0);;
border-color: rgb(255, 153, 0);;
}


h3 {
font-family: manrope, arial;
font-size: 24px;
font-weight: bold;
padding-bottom: 25px;
padding-top: 15px;
color: rgb(12, 35, 59);
}
.summary-box-container {
display: flex;
flex-direction: column;
flex: 1;      
padding: 10px;
padding-left:30px;
background-color: #ffffff;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary-items {
display: grid;
grid-template-rows: repeat(3, 1fr);
gap: 10px;
margin-bottom: 20px;
}

.summary-item-1,
.summary-item-2,
.summary-item-3 {
display: flex;
align-items: center;
justify-content: space-between;
}

.item-image{
height:75px;
width:auto;
border-radius: 8px;
margin-right: 15px;
}

.item-details {
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
}

.item-price,
.item-quantity{
color: rgb(139, 141, 143);
}

.item-name,
.item-price,
.item-quantity {
margin: 0;
padding: 4px;
font-weight: bold;
font-family: manrope;
}

.item-quantity {
white-space: nowrap; 
}

.summary-calc {
display: flex;
justify-content: space-between;
margin-bottom: 0.5rem; 
}

.summary-calc p {
margin: 0; 
text-align: right; 
font-family: manrope, arial;
color: rgb(139, 141, 143)
}

.total-amount {
text-align: left;
font-weight: bold;
padding-right:15px;
color: black;
}

#checkoutButton {
background-color: rgb(255, 153, 0);
color: #ffffff;
padding-top: 16px;
padding-bottom: 16px;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.21s ease;
margin: 15px; 
width: calc(100% - 30px);
}

#checkoutButton:hover {
background-color: rgb(248, 195, 97); 
}

footer {
  height: 300px;
  background-color:rgb(12, 35, 59);
  margin-top:50px;

}

.containerR7{
  grid-template-columns: auto auto;
  margin-left: 150px;
}
.f-logo-container{
  margin-top: 70px;
  
}
.f-logo{
  width: 149px;
  height:30px;
}
.f-text{
  font-family: manrope;
  color: #8b8d8f;
  font-weight: regular;
  font-size: 15px;
  margin-top: 30px;

}
.f-menu{
  width:555px;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.f-menu-text{
  font-family: manrope;
  color:#E9ECEF;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;

}
#f-menu-buttons{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  height: 50px;
  color:#E9ECEF;
  font-family: manrope;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.15s;
}
#f-menu-buttons:hover{
  background-color: #E9ECEF;
  color: #212529;
}	
